*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding: 14x;
}

.container h1 {
    text-align: center;
}

.wrap_copertina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
}

.copertina{
    max-width: 190px;
}

.box_album {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(157, 157, 157);
    width: 230px;
    padding: 14px;
    margin: 8px;
}

.select_age {
    padding: 20px;
    font-size: 16px;
    background-color: rgb(197, 197, 197);
    font-weight: 900;
}